body {
    background-color: red;
}
.header {
    background-color: blue;
    color: white;
    grid-area: header;
    padding: 30px;
}
nav ul {
	float: right;
	margin-top: 20px;
}
nav ul li {
	display: inline-block;
	margin-left: 20px;
}
nav ul li a {
	font-family: arial;
	text-decoration: none;
	color: white;
}
nav ul li a:hover {
	color: black;
	background-color: orange;
}

.content {
    background-color: greenyellow;
    grid-area: content;
}
.aside {
    background-color: dimgray;
    grid-area: aside;
}
.footer {
    background-color: black;
    grid-area: footer;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap:    10px;
    grid-template-areas: 
         "header header  header"
         "aside  content content"
         "footer footer  footer";
    background-color: white;
}   