body {
    background-color: red;
}
.header {
    background-color: blue;
    color: white;
    grid-area: header;
    padding: 30px;
}
nav ul {
	float: right;
	margin-top: 20px;
}
nav ul li {
	display: inline-block;
	margin-left: 20px;
}
nav ul li a {
	font-family: arial;
	text-decoration: none;
	color: white;
}
nav ul li a:hover {
	color: black;
	background-color: orange;
}

.content {
    background-color: greenyellow;
    grid-area: content;
    padding: 20px;
}
.aside {
    background-color: dimgray;
    grid-area: aside;
}
.aside img {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 21%;
}
.footerIzq {
    background-color: black;
    color: aquamarine;
    text-align: center;
    grid-area: footerIzq;
}
.footerDer {
    background-color: orange;
    grid-area: footerDer;
}
.footerDer img {
    padding: 5px;
    width: 50px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap:    10px;
    grid-template-areas: 
         "header header        header"
         "aside  content       content"
         "footerIzq footerIzq  footerDer";
    background-color: white;
}   